.serviceSectionRoot {
  width: 100%;
  padding: 2.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .sectionHeading {
    font-size: var(--text-sm);
    font-weight: 500;
  }
  .sectionHeadingAccent {
    color: var(--color-orange);
  }
  .serviceCardRow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .serviceSectionRoot {
    padding: 1.5rem;
    gap: 1rem;
  }
  .serviceCardRow {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
