:root {
  --full-viewport-width: 100vw;
  --full-viewport-height: 100vh;

  --color-orange: #ff7e02;
  --color-blue: #5d74ed;
  --color-yellow: #f99d4c;

  --gray-10: #fcfcfc;
  --gray-20: #ebebeb;
  --gray-30: #cccccc;
  --gray-40: #999999;
  --gray-50: #666666;
  --gray-60: #333333;
  --gray-70: #222222;
  --gray-80: #1b1b1b;
  --gray: #141414;

  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25; /* 20px */

  --text-sm: 2.25rem; /* 36px */
  --text-md: 3rem; /* 48px */
  --text-lg: 4.5rem; /* 72px */

  --font-normal: normal;
  --font-tight: -0.02em; /* 0.32px */
  --font-tighter: -0.05em; /* 0.8px */
  --font-wide: 0.1em; /* 1.6px */
  --font-wider: 0.15em; /* 2.4px */

  --primary-surface: var(--gray-80);
  --secondary-surface: var(--gray-20);

  --primary-text: var(--gray-10);
  --secondary-text: var(--gray);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.primarySurface {
  background-color: var(--primary-surface);
  color: var(--primary-text);
}

.secondarySurface {
  background-color: var(--secondary-surface);
  color: var(--secondary-text);
}

@media screen and (max-width: 768px) {
  :root {
    --font-xs: 0.625rem; /* 10px */
    --font-sm: 0.75rem; /* 12px */
    --font-md: 0.875rem; /* 14px */
    --font-lg: 1rem; /* 16px */
    --font-xl: 1.125rem; /* 18px */

    --text-sm: 1.75rem; /* 28px */
    --text-md: 2.25rem; /* 36px */
    --text-lg: 3.25rem; /* 52px */
  }
}
