.bannerSectionRoot {
  width: 100%;
  height: 400px;
  padding: 2.75rem;
  gap: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .leftColumn {
    width: 50%;
    height: 100%;
    justify-content: end;
    align-items: end;

    .image1 {
      width: 50%;
      height: 100%;
      align-items: end;
      border: 0.75rem solid var(--gray-20);
      background-color: var(--gray-60);
    }
  }

  .rightColumn {
    width: 50%;
    font-size: var(--text-sm);
  }
}

@media screen and (max-width: 769px) {
  .bannerSectionRoot {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 200px;
    padding: 1rem;
    .leftColumn {
      display: flex;
      justify-content: center;
      align-items: center;
      .image1 {
        left: 0;
        width: 100%;
        height: 100%;
        position: block;
      }
    }
  }
}
