.footerRoot {
  width: 100%;
  display: flex;
  flex-direction: column;

  .footerFirst {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2.75rem;
    gap: 1.5 rem;

    .column2,
    .column3 {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .column2List {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          font-size: var(--font-sm);
        }
        li:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      // Column 3
      .column3Body {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .iconRow {
          display: flex;
          flex-direction: row;
          gap: 1.5rem;
          .icon {
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
              transition: transform 0.3s ease-in-out;
            }
          }
        }
        .newsletter,
        .iconSection {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }

    .columnHeading {
      font-size: var(--font-lg);
    }
  }

  .footerSecond {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-top: 1px solid var(--gray-60);
    font-size: var(--font-md);
  }
}

@media screen and (max-width: 768px) {
  .footerRoot {
    .footerFirst {
      flex-direction: column;
      gap: 1.25rem;

      .column2,
      .column3 {
        gap: 0.5rem;
        .column2List {
          gap: 0.375rem;
        }
      }
    }

    .footerSecond {
      height: 50px;
    }
  }
}
